In [2]:
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
df = pd.read_csv('Credit_Scoring.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149992 entries, 0 to 149991
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Unnamed: 0                            149992 non-null  int64
 1   SeriousDlqin2yrs                      149992 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  149992 non-null  float64
 3   age                                   149992 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  149992 non-null  int64
 5   DebtRatio                             149992 non-null  float64
 6   MonthlyIncome                         120262 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       149992 non-null  int64
 8   NumberOfTimes90DaysLate               149992 non-null  int64
 9   NumberRealEstateLoansOrLines          149992 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  149992 non-null  int64
 11  NumberOfDependents                    146068 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 13.7 MB

In [8]:
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149992 entries, 0 to 149991
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Unnamed: 0                            149992 non-null  int64
 1   SeriousDlqin2yrs                      149992 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  149992 non-null  float64
 3   age                                   149992 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  149992 non-null  int64
 5   DebtRatio                             149992 non-null  float64
 6   MonthlyIncome                         120262 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       149992 non-null  int64
 8   NumberOfTimes90DaysLate               149992 non-null  int64
 9   NumberRealEstateLoansOrLines          149992 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  149992 non-null  int64
 11  NumberOfDependents                    146068 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 13.7 MB

In [7]:
df.describe()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,149992.000000,149992.000000,149992.000000,149992.000000,149992.000000,149992.000000,1.202620e+05,149992.000000,149992.000000,149992.000000,149992.000000,146068.000000
mean,75004.500000,0.066837,6.048729,52.295516,0.421029,352.985824,6.669872e+03,8.452877,0.265981,1.018221,0.240399,0.757236
std,43299.105125,0.249740,249.762028,14.771902,4.192890,2037.824499,1.438414e+04,5.146006,4.169414,1.129704,4.155290,1.115103
min,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37506.750000,0.000000,0.029863,41.000000,0.000000,0.175075,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,75004.500000,0.000000,0.154162,52.000000,0.000000,0.366516,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,112502.250000,0.000000,0.559012,63.000000,0.000000,0.868292,8.249000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,150000.000000,1.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [14]:
df_process = df.dropna(subset=['NumberOfDependents','MonthlyIncome'])
df_process.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0
5,14,1,0.964673,40,3,0.382965,13700.0,9,3,1,1,2.0

Phát biểu:
+ H0: Thu nhập trung bình theo tháng của người phụ thuộc nhỏ hơn khách hành có phụ thuộc;
+ H1: Thu nhập trung bình theo tháng của người không phụ thuộc cao hơn có người phụ thuộc

In [19]:
inpedent = df_process[df_process['NumberOfDependents'] ==0]['MonthlyIncome']

Depedent = df_process[df_process['NumberOfDependents'] > 0]['MonthlyIncome']

print(stats.ttest_ind(inpedent,Depedent,equal_var=False,nan_policy='omit'))

Ttest_indResult(statistic=-20.159688563453514, pvalue=3.59295701688606e-90)

Kết luận: Chấp nhận giả thuyết H0

In [21]:
Depedent.mean()

7621.8864623243935

In [23]:
inpedent.mean()

5872.648521053597